.container {
  height: 100vh;
  width: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    display: block;
    padding: 2rem;

    background-color: var(--white);

    border-bottom: .0625rem solid var(--yellow);

    border-radius: .3125rem;

    h1 {
      font-size: 3rem;
      color: var(--title);

      margin-bottom: 1rem;
    }

    section {
      display: flex;
      flex-direction: column;
      font-weight: 500;

      label {
        font-size: 1.25rem;
      }

      input {
        margin-top: 1rem;
        padding: .5rem;
      }

      strong {
        font-size: 1rem;

        padding: .5rem 0;

        margin-bottom: 1.5rem;
      }
    }

    a {
      padding: 1rem 10rem;

      font-weight: 700;

      border-radius: 5rem;
      border-style: none;

      background-color: var(--blue);
      color: var(--white);

      transition: background-color .2s;
    }

    a:hover {
      background-color: var(--blue-dark);
      color: var(--white);
    }
  }
}

